* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.h1-heading {
  color: green;
  text-align: center;
}

.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.center {
  text-align: center;
  list-style: none;
}

.recipe-link:link,
.recipe-link:visited {
  display: inline-block;
  text-decoration: none;
  color: darkolivegreen;
  margin: 12px 24px;
}

.recipe-link:hover,
.recipe-link:active {
  text-decoration: underline;
}

/* RECIPES STYLING */
.food-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.h2-heading {
  color: darkgreen;
  font-size: 26px;
  margin-bottom: 12px;
}

.recipe-description {
  font-size: 18px;
  margin-bottom: 12px;
}

.list {
  font-size: 18px;
  line-height: 2;
}

.unordered-list {
  margin-left: 12px;
}

.unordered-list li:last-child {
  margin-bottom: 12px;
}

.ordered-list {
  margin-left: 28px;
}

.ordered-list li:last-child {
  margin-bottom: 12px;
}
